*.ipynb_checkpoints/
*.DS_Store
dask/ancillary/generalized_parallelization/results/
coiled/presentations_all/
scratch/
learning/
ancillary/Tutorials_TEMPLATE.ipynb
ancillary/WM2015_first_submission.pdf
